# stages определяют порядок выполнения задач
stages:
  - build
  - test
  - deploy

# Установка переменных
variables:
  BUILD_DIR: build

# Job для сборки проекта
build_job:
  stage: build
  image: gcc:17
  before_script:
    - apt-get update && apt-get install -y cmake g++ git
  script:
    - mkdir -p $BUILD_DIR
    - cd $BUILD_DIR
    - cmake .. -DCMAKE_BUILD_TYPE=Release
    - make -j$(nproc)
  artifacts:
    paths:
      - $BUILD_DIR/Smithtry1000  # замените на имя вашего исполняемого файла
      - $BUILD_DIR/tests           # если у вас есть исполняемый файл тестов
    expire_in: 1 week
  cache:
    paths:
      - $BUILD_DIR/

